*.xcodeproj
*.o
*.out
*.lo
*.Plo


*.dirstamp

*.dylib

*.plist

*.a

*.la

*.lai

*.m4

*.0

*.1

autom4te.cache/requests

missing

ltmain.sh

libtool

install-sh

depcomp

*.sub

*.guess

compile

*.log

*.status

*.in

stamp-h1

config.h
